{% extends "base.html" %}

{% block title %}Mensajeria{% endblock %}

{% block header %}
    <h1>Bienvenido creacion de mensajes</h1>
{% endblock %}

{% block content %}
    <p>Buscar mensajes</p>
    <form action="{% url 'ver_mensajes' %}" method="POST">
        <input type = "text" name="usuario" required value="{{ usuario }}">
        {% csrf_token %}
        <button type="submit">Buscar</button>      

    </form>
    <p>Crear mensaje</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">guardar</button>
    </form>
{% endblock %}