{% extends "base.html" %}

{% block title %}Mensajeria{% endblock %}

{% block header %}
    <h1>Bienvenido creacion de mensajes</h1>
{% endblock %}

{% block content %}
    
    <title>Detalles del Mensaje</title>
    
        <h1>Detalles del Mensaje Guardado</h1>
        <p><strong>Remitente:</strong> {{ mensaje.remitente }}</p>
        <p><strong>Destinatario:</strong> {{ mensaje.destinatario }}</p>
        <p><strong>Texto:</strong> {{ mensaje.texto }}</p>
    <div>
        <a href="{% url 'home' %}" class="btn btn-success">Ir al Home</a>    
    </div>
{% endblock %}
