<!-- templates/mensajes.html -->

{% extends "base.html" %}

{% block title %}Mensajeria{% endblock %}

{% block header %}

    <h1>Mensajes</h1>

{% endblock %}

    {% block content %} 
    <h1>Lista de Mensajes de {{ usuario }}</h1>

    <!-- Recorrer la lista de mensajes -->
    <div>
        {% for mensaje in mensajes %}
        <div class="message-box">
            
            {% if mensaje.tipo == "recivido" %}
            <p class="message-sender">Recivido de {{ mensaje.usuario_2 }}</p>
            {% else %}
            <p class="message-sender">Enviado a {{ mensaje.usuario_2 }}</p>
            {% endif %}
            <p class="message-text">{{ mensaje.texto }}</p>
            <form action="{% url 'eliminar_mensaje' mensaje.id%}" method="POST">
                <input type="hidden" name="usuario" value="{{ usuario }}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Eliminar</button>
            </form>
        </div>
        {% empty %}
        <p>no hay mensajes para mostrar.</p>
        {% endfor %}
    </div>
<div>
    <a href="{% url 'home' %}" class="btn btn-success">Ir al Home</a>    
</div>
{% endblock %}
